$black: #212529;
$grey: #495057;
$grey-light: #adb5bd;
$light: #e9ecef;
$marine:#3d5a80;
$electric: #5762D5;
$pale: #cce6f4;
$red: #e63946;
$white: #f8f9fa;
$yellow: #fcbf49;
$green: #5fad56;

:root.light {
    --bg-1: #5762D5;
    --bg-2: #f8f9fa;
    --bg-3: #e9ecef;
    --bg-4: #cce6f4;

    --card: #e9ecef;

    --text: #212529;
    --text-i: #e9ecef;

    --anim: #f8f9fa;
    --anim-t: #495057;
}
:root.dark {
    --bg-1: #050130;
    --bg-2: #15124A;
    --bg-3: #0C0936;
    --bg-4: #241f6d;

    --card: #241f6d;

    --text: #e9ecef;
    --text-i: #212529;

    --anim: #241f6d;
    --anim-t: #f8f9fa;
}

// 040124

$bg-1: var(--bg-1);
$bg-2: var(--bg-2);
$bg-3: var(--bg-3);
$text: var(--text);
$text-i: var(--text-i);
$card: var(--card);
$anim: var(--anim);
$anim-t: var(--anim-t);
$bg-4: var(--bg-4);
$bg-5: var(--bg-5);