#education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #education-output {
        width: 60%;
        margin: 1em 0;
        height: auto;
        resize: vertical;

        color: $text;
        font-size: 1.2em;

        p {
            display: flex;
            align-items: center;
        }

        img[alt=ind],img[alt=riddle] {
            width: 64px;
            margin: 0 10px;
        }
    }

    #education-input {
        width: 60%;
        margin: 2em 0;
        height: 300px;
        resize: vertical;
    }
}
@include phone {
    #education {
        #education-output {
            width: 80%;
        }
        #education-input {
            width: 80%;
        }
    }
}