@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "./scss/_variables";
@import "./scss/_mixins";
@import "./scss/_placeholders";

@import "./scss/components/_header";
@import "./scss/components/_main";
@import "./scss/components/_navbar";
@import "./scss/components/_footer";

@import "./scss/components/_darkmode";
@import "./scss/components/_animations";

@import "./scss/components/index/_description";
@import "./scss/components/index/_features";
@import "./scss/components/index/_main";

@import "./scss/components/portfolio/_main";
@import "./scss/components/portfolio/_skills";
@import "./scss/components/portfolio/_who-am-i";
@import "./scss/components/portfolio/_contact";
@import "./scss/components/portfolio/_temp";
@import "./scss/components/portfolio/_portfolio-my-creations";

@import "./scss/components/app/_home";
@import "./scss/components/app/_connection";
@import "./scss/components/app/_register";
@import "./scss/components/app/_inbox";
@import "./scss/components/app/_streaming";

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
    background-color: $bg-2;
}

body {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: $bg-2; 
}
::-webkit-scrollbar-thumb {
    background: $black;
}