@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/placeholders";

@import "./scss/components/header";
@import "./scss/components/main";
@import "./scss/components/navbar";
@import "./scss/components/footer";

@import "./scss/components/darkmode";
@import "./scss/components/animations";

@import "./scss/components/index/description";
@import "./scss/components/index/features";
@import "./scss/components/index/main";

@import "./scss/components/portfolio/main";
@import "./scss/components/portfolio/skills";
@import "./scss/components/portfolio/who-am-i";
@import "./scss/components/portfolio/contact";
@import "./scss/components/portfolio/education";

@import "./scss/components/app/home";
@import "./scss/components/app/connection";
@import "./scss/components/app/register";
@import "./scss/components/app/inbox";
@import "./scss/components/app/streaming";

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
    background-color: $bg-2;
}

body {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: $bg-2; 
}
::-webkit-scrollbar-thumb {
    background: $black;
}