@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root.light {
  --bg-1: #5762D5;
  --bg-2: #f8f9fa;
  --bg-3: #e9ecef;
  --bg-4: #cce6f4;
  --card: #e9ecef;
  --text: #212529;
  --text-i: #e9ecef;
  --anim: #f8f9fa;
  --anim-t: #495057;
}

:root.dark {
  --bg-1: #050130;
  --bg-2: #15124A;
  --bg-3: #0C0936;
  --bg-4: #241f6d;
  --card: #241f6d;
  --text: #e9ecef;
  --text-i: #212529;
  --anim: #241f6d;
  --anim-t: #f8f9fa;
}

body > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > header .svg-b {
  fill: var(--bg-1);
}

body > header > div {
  width: 100%;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--bg-1);
}

body > header > div h1 {
  margin: 0;
  font-size: 2.4em;
  color: #f8f9fa;
}

@media (max-width: 799px) {
  body > header > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  margin: 10px 20px;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 1.5em;
  color: #f8f9fa;
  border-radius: 25px;
  background-color: #f8f9fa;
  color: var(--bg-1);
  font-weight: bold;
}

nav a:hover {
  background-color: #e9ecef;
}

nav .logout {
  color: #e63946;
}

nav .clicked {
  background-color: #adb5bd;
}

@media (max-width: 799px) {
  nav {
    margin: 1em 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    font-size: 1.2em;
    margin: 5px 10px;
  }
}

#index-footer, #portfolio-footer {
  width: 100%;
  margin: 4em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#index-footer .svg-b, #portfolio-footer .svg-b {
  fill: var(--bg-3);
  -webkit-animation: svg_slide_top 10s ease infinite alternate;
          animation: svg_slide_top 10s ease infinite alternate;
}

#index-footer div, #portfolio-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-3);
}

#index-footer p, #portfolio-footer p {
  font-size: 1.2em;
  color: var(--text);
  margin: 0.5em;
}

#index-footer p a, #portfolio-footer p a {
  color: inherit;
}

@media (max-width: 799px) {
  #portfolio-footer p, #index-footer p {
    font-size: 1em;
  }
}

#darkmode {
  width: 68px;
  height: 38px;
  border-radius: 25px;
  border: none;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 4px;
  cursor: pointer;
}

#darkmode span {
  height: 30px;
  background-image: url("../svg/darkmode-icon-light.svg");
  background-position: center;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  width: 30px;
  border-radius: 25px;
  margin-left: 0;
  -webkit-transition: margin .5s ease, background-color .5s ease;
  transition: margin .5s ease, background-color .5s ease;
}

#darkmode-input {
  display: none;
}

#darkmode-input:checked + #darkmode span {
  margin-left: 30px;
  background-image: url("../svg/darkmode-icon-dark.svg");
}

#darkmode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
}

@-webkit-keyframes svg_slide_bottom {
  from {
    d: path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
  }
  50% {
    d: path("M0 0H1920V114.072C1638 -18.928 1259.5 251.073 960 114.073C660.5 -22.9271 294 268.072 0 114.072V0Z");
  }
  to {
    d: path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
  }
}

@keyframes svg_slide_bottom {
  from {
    d: path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
  }
  50% {
    d: path("M0 0H1920V114.072C1638 -18.928 1259.5 251.073 960 114.073C660.5 -22.9271 294 268.072 0 114.072V0Z");
  }
  to {
    d: path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
  }
}

@-webkit-keyframes svg_slide_top {
  from {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");
  }
  50% {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1626 -107.678 1259.5 183.322 960 46.3223C660.5 -90.6777 282 179.322 0.00012207 46.3223Z");
  }
  to {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");
  }
}

@keyframes svg_slide_top {
  from {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");
  }
  50% {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1626 -107.678 1259.5 183.322 960 46.3223C660.5 -90.6777 282 179.322 0.00012207 46.3223Z");
  }
  to {
    d: path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");
  }
}

#index-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6em 0;
}

#index-description .svg-b-t {
  fill: var(--bg-3);
  -webkit-animation: svg_slide_top 10s ease infinite alternate;
          animation: svg_slide_top 10s ease infinite alternate;
}

#index-description .svg-b-b {
  fill: var(--bg-3);
  -webkit-animation: svg_slide_bottom 10s ease infinite alternate;
          animation: svg_slide_bottom 10s ease infinite alternate;
}

#index-description #anim .svg-b {
  fill: var(--anim);
}

#index-description #anim .svg-b-m {
  fill: var(--bg-3);
}

#index-description .svg-t {
  fill: var(--anim-t);
}

#index-description > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-3);
}

#index-description > div > div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg-3);
}

#index-description > div > div p {
  width: 80%;
  font-size: 1.6em;
  line-height: 2em;
  color: var(--text);
}

#index-description > div #anim {
  width: 20%;
}

#index-description > div h2 {
  background-color: #5762D5;
  padding: 10px 20px;
  border-radius: 25px;
  color: #f8f9fa;
}

@media (max-width: 799px) {
  #index-description > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #index-description > div > div {
    width: 80%;
  }
  #index-description > div > div p {
    width: 100%;
    font-size: 1.4em;
  }
  #index-description > div #anim {
    margin: 1em 0 2em;
    width: 60%;
  }
}

#index-features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6em 0;
}

#index-features p {
  width: 60%;
  font-size: 1.6em;
  color: var(--text);
}

#index-features header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

#index-features h2 {
  color: #f8f9fa;
  background-color: #e63946;
  padding: 10px 20px;
  border-radius: 25px;
}

#index-features code {
  border-radius: 5px;
}

#index-features > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

#index-features > div div {
  width: 325px;
  margin: 2em 4em;
  background-color: var(--card);
  padding: 20px 30px;
  border-radius: 25px;
  color: var(--text);
}

@media (max-width: 799px) {
  #index-features p {
    width: 80%;
  }
  #index-features header {
    width: 80%;
  }
  #index-features > div div {
    width: 100%;
    margin: 2em 0;
  }
}

#index-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#index-main .svg-b {
  fill: var(--bg-1);
}

#index-main .svg-t-d {
  fill: var(--text);
}

#index-main .svg-t {
  fill: var(--anim-t);
}

#index-main .svg-b-b {
  fill: var(--bg-1);
  -webkit-animation: svg_slide_bottom 10s ease infinite alternate;
          animation: svg_slide_bottom 10s ease infinite alternate;
}

#index-main div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-1);
  padding: 4vh 0;
}

#index-main p {
  font-size: 5.6em;
  color: #f8f9fa;
}

#index-main span {
  font-weight: bold;
}

#index-main .anim-2 {
  width: 90%;
  margin: 12em 0 6em;
  overflow: visible;
}

#index-main .anim-2 .svg-b {
  fill: var(--card);
}

#index-main .desktop {
  display: block;
}

#index-main .mobile {
  display: none;
}

@media (max-width: 799px) {
  #index-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #index-main p {
    width: 80%;
    margin: 1em 0 2em;
    font-size: 2.2em;
  }
  #index-main .anim-2 {
    margin: 6em 0 0;
  }
  #index-main .desktop {
    display: none;
  }
  #index-main .mobile {
    display: block;
  }
}

#portfolio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 6em;
}

#portfolio-main .svg-b {
  fill: var(--bg-1);
  -webkit-animation: svg_slide_bottom 10s ease infinite alternate;
          animation: svg_slide_bottom 10s ease infinite alternate;
}

#portfolio-main > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4vh 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-1);
}

#portfolio-main > div p {
  font-size: 5.6em;
  color: #f8f9fa;
}

#portfolio-main > div p span {
  font-weight: bold;
}

@media (max-width: 799px) {
  #portfolio-main > div p {
    width: 80%;
    margin: 1em 0 2em;
    font-size: 2.2em;
  }
}

#portfolio-skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin: 6em 0;
}

#portfolio-skills .svg-b {
  fill: var(--bg-3);
}

#portfolio-skills svg:nth-of-type(1) path {
  -webkit-animation: svg_slide_top 10s ease infinite alternate;
          animation: svg_slide_top 10s ease infinite alternate;
}

#portfolio-skills svg:nth-of-type(2) path {
  -webkit-animation: svg_slide_bottom 10s ease infinite alternate;
          animation: svg_slide_bottom 10s ease infinite alternate;
}

#portfolio-skills > div {
  background-color: var(--bg-3);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-skills > div header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio-skills > div header h2 {
  padding: 10px 20px;
  border-radius: 25px;
  color: #f8f9fa;
  background-color: #3d5a80;
}

#portfolio-skills > div > div {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

#portfolio-skills > div > div div {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f8f9fa;
  font-size: 2.4em;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  position: relative;
}

#portfolio-skills > div > div div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition: -webkit-clip-path 1.5s ease;
  transition: -webkit-clip-path 1.5s ease;
  transition: clip-path 1.5s ease;
  transition: clip-path 1.5s ease, -webkit-clip-path 1.5s ease;
  z-index: -1;
}

#portfolio-skills > div > div div img {
  width: 100px;
  height: 100px;
}

#portfolio-skills > div > div div.deploy::before {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}

#portfolio-skills > div > div div:nth-child(1)::before {
  background-color: #E44F26;
}

#portfolio-skills > div > div div:nth-child(2)::before {
  background-color: #1572B6;
}

#portfolio-skills > div > div div:nth-child(3)::before {
  background-color: #CC6699;
}

#portfolio-skills > div > div div:nth-child(4)::before {
  background-color: #FBC02D;
}

#portfolio-skills > div > div div:nth-child(5)::before {
  background-color: #8993BE;
}

#portfolio-skills > div > div div:nth-child(6)::before {
  background-color: #539E43;
}

#portfolio-skills > div > div div:nth-child(7)::before {
  background-color: #264D6F;
}

#portfolio-skills > div p {
  width: 70%;
}

@media (max-width: 799px) {
  #portfolio-skills > div > ul {
    width: 85%;
  }
  #portfolio-skills > div > ul li {
    font-size: 1.2em;
  }
}

#portfolio-who-am-i {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 0;
}

#portfolio-who-am-i header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio-who-am-i header h2 {
  padding: 10px 20px;
  border-radius: 25px;
  color: #f8f9fa;
  background-color: #5762D5;
}

#portfolio-who-am-i div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-who-am-i div p {
  font-size: 2em;
  width: auto;
  color: var(--text);
}

#portfolio-who-am-i div:nth-of-type(1) img {
  width: 30%;
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
}

@media (max-width: 799px) {
  #portfolio-who-am-i div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
  }
  #portfolio-who-am-i div p {
    font-size: 1.4em;
    text-align: center;
    margin: 0;
  }
  #portfolio-who-am-i div img {
    width: 70%;
    margin: 1em;
    -webkit-clip-path: circle(40% at 50% 50%);
            clip-path: circle(40% at 50% 50%);
  }
}

#portfolio-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 0;
}

#portfolio-contact header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio-contact header h2 {
  padding: 10px 20px;
  border-radius: 25px;
  color: #f8f9fa;
  background-color: #e63946;
}

#portfolio-contact ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
  padding: 0;
}

#portfolio-contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
}

#portfolio-contact ul li p {
  font-size: 2em;
  width: auto;
  color: #212529;
  position: relative;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  z-index: 1;
}

#portfolio-contact ul li p a {
  color: inherit;
}

#portfolio-contact ul li p::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  display: block;
  padding: 0 5px;
  z-index: -1;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

#portfolio-contact ul li p:hover {
  color: #f8f9fa;
}

#portfolio-contact ul li p:hover::before {
  padding: 5px;
  height: 100%;
}

#portfolio-contact ul li:nth-child(1) p::before {
  background-color: #7289DA;
}

#portfolio-contact ul li:nth-child(2) p::before {
  background-color: #161614;
}

#portfolio-contact ul li:nth-child(3) p::before {
  background-color: #EA4335;
}

#portfolio-contact ul li img {
  margin: 0 1em 0 0;
}

@media (max-width: 799px) {
  #portfolio-contact {
    margin: 2em 0;
  }
  #portfolio-contact ul {
    width: 80%;
    margin: 2em 0 0;
  }
  #portfolio-contact ul li p {
    font-size: 1.2em;
  }
}

#temp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#temp ul {
  width: 65%;
  margin: 0 0 3em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#temp ul li {
  width: 70%;
  font-size: 1.4em;
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
  list-style: none;
}

#temp ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#temp ul li img {
  margin-left: 4em;
  width: 150px;
  border-radius: 20px;
}

#temp ul li:nth-child(1) img {
  background-color: #3d5a80;
  border-radius: 100px;
}

#temp ul li:nth-child(2) img {
  padding: 2%;
  background-color: #e9ecef;
}

@media (max-width: 799px) {
  #temp ul {
    width: 80%;
  }
  #temp ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 1em 0;
    text-align: center;
  }
  #temp ul li img {
    margin-left: 0;
    margin-bottom: 1em;
  }
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home h2 {
  font-size: 3em;
  text-align: center;
  color: #212529;
}

#home > div {
  width: auto;
  margin: 4em 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: var(--bg-3);
}

#home > div img {
  width: 150px;
  margin: 10px;
  border-radius: 100px;
}

#home > div table {
  margin: 0 2em;
  height: 100%;
  text-align: left;
  color: var(--text);
  border-spacing: 5px;
}

#home > div table th, #home > div table td {
  border-radius: 8px;
  background-color: var(--bg-2);
  padding: 10px;
}

#home > div table td {
  word-break: break-all;
}

@media (max-width: 799px) {
  #home h2 {
    font-size: 2em;
  }
  #home > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
  }
  #home > div img {
    width: 100px;
  }
  #home > div table {
    margin: 0 .5em;
  }
}

#connection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 20px;
  margin: 4em 0;
  width: auto;
  background-color: var(--bg-3);
  border-radius: 10px;
}

#connection .error {
  font-size: 1.4em;
  color: #e63946;
}

#connection input {
  padding: 10px;
  margin: 10px;
  font-size: 1.6em;
  border-radius: 10px;
  border: none;
  background-color: #f8f9fa;
}

#connection .pass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connection .pass-container .show-pass {
  cursor: pointer;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connection .pass-container .show-pass img {
  width: 40px;
}

#connection input[type=submit] {
  cursor: pointer;
  background-color: #5762D5;
  color: #f8f9fa;
  border: solid 2px #5762D5;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
}

#connection input[type=submit]:hover {
  background-color: #f8f9fa;
  color: #5762D5;
}

@media (max-width: 799px) {
  #connection form {
    width: 80vw;
  }
  #connection input[type=password], #connection input[type=text], #connection input[type=username] {
    width: 70vw;
  }
}

#register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register h2 {
  color: #212529;
}

#register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 20px;
  margin: 4em 0;
  width: auto;
  background-color: var(--bg-3);
  border-radius: 10px;
}

#register .error {
  font-size: 1.4em;
  color: #e63946;
}

#register input {
  padding: 10px;
  margin: 10px;
  font-size: 1.6em;
  border-radius: 10px;
  border: none;
  background-color: #f8f9fa;
}

#register .pass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register .pass-container .show-pass, #register .pass-container .show-pass-confirm {
  cursor: pointer;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register .pass-container .show-pass img, #register .pass-container .show-pass-confirm img {
  width: 40px;
}

#register input[type=submit] {
  cursor: pointer;
  background-color: #5762D5;
  color: #f8f9fa;
  border: solid 2px #5762D5;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
}

#register input[type=submit]:hover {
  background-color: #f8f9fa;
  color: #5762D5;
}

@media (max-width: 799px) {
  #connection form {
    width: 80vw;
  }
  #connection input[type=password], #connection input[type=text], #connection input[type=username] {
    width: 70vw;
  }
}

#inbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em 0 1em;
}

#inbox #discussions-container {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--bg-3);
}

#inbox #discussions-container .error {
  color: red;
}

#inbox #discussions-container button {
  background-color: #f8f9fa;
  background-image: url("/tamanoir.net/app/assets/svg/reject_member.svg");
  background-size: 12px 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2px;
  margin-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #e63946;
  border-radius: 25px;
  cursor: pointer;
}

#inbox #discussions-container #discussions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#inbox #discussions-container #discussions .discussion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  margin: 5px;
  color: #212529;
  background-color: #f8f9fa;
  border: 2px solid #212529;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#inbox #discussions-container #discussions .discussion.clicked {
  background-color: #212529;
}

#inbox #discussions-container #discussions .discussion.clicked a {
  color: #f8f9fa;
}

#inbox #discussions-container #discussions .discussion a {
  word-break: break-all;
  text-decoration: none;
  color: #212529;
}

#inbox #discussions-container #discussions .discussion a:hover {
  text-decoration: underline;
}

#inbox #discussions-container #new-discussion-input {
  background-color: #f8f9fa;
  border: 2px solid #212529;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  width: 90%;
}

#inbox #discussions-container #create-discussion {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-size: 20px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #5762D5;
}

#inbox #discussions-container #create-discussion.add {
  background-image: url("/tamanoir.net/app/assets/svg/add_member.svg");
}

#inbox #discussions-container #create-discussion.confirm {
  background-image: url("/tamanoir.net/app/assets/svg/confirm_member.svg");
  border: 2px solid #5fad56;
}

#inbox #discussions-container #create-discussion.reject {
  background-image: url("/tamanoir.net/app/assets/svg/reject_member.svg");
  border: 2px solid #e63946;
}

#inbox #members-container {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-3);
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--bg-3);
}

#inbox #members-container .error {
  color: red;
}

#inbox #members-container #add-member {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-size: 20px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #5762D5;
}

#inbox #members-container #add-member.add {
  background-image: url("/tamanoir.net/app/assets/svg/add_member.svg");
}

#inbox #members-container #add-member.confirm {
  background-image: url("/tamanoir.net/app/assets/svg/confirm_member.svg");
  border: 2px solid #5fad56;
}

#inbox #members-container #add-member.reject {
  background-image: url("/tamanoir.net/app/assets/svg/reject_member.svg");
  border: 2px solid #e63946;
}

#inbox #members-container #new-user {
  background-color: #f8f9fa;
  border: 2px solid #212529;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 10px;
  width: 90%;
}

#inbox #members-container #members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#inbox #members-container #members .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d5a80;
  border-radius: 5px;
  padding: 0 5px;
  margin: 10px;
  color: #f8f9fa;
}

#inbox #members-container #members .member p {
  word-break: break-all;
  margin: 5px 0;
}

#inbox #members-container #members .member button {
  background-color: #f8f9fa;
  background-image: url("/tamanoir.net/app/assets/svg/reject_member.svg");
  background-size: 12px 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2px;
  margin-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #e63946;
  border-radius: 25px;
  cursor: pointer;
}

#inbox #discussion-container {
  width: 70%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inbox #messages {
  height: 80%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inbox #messages .message {
  margin: 1em 0;
  padding: 1em;
  border-radius: 15px;
  width: calc(100% - 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: var(--bg-3);
  color: var(--text);
  font-size: .9em;
}

#inbox #messages .message table {
  border-collapse: collapse;
}

#inbox #messages .message table td, #inbox #messages .message table th, #inbox #messages .message table tr, #inbox #messages .message table {
  padding: 5px;
  border: solid thin #212529;
}

#inbox #messages .message > img {
  width: 60px;
  border-radius: 100px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#inbox #messages .message .content img {
  max-width: 300px;
}

#inbox #messages .message > div:nth-of-type(1) {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#inbox #messages .message > div:nth-of-type(1) > p {
  margin: 0 1em;
}

#inbox #messages .message > div:nth-of-type(1) > div {
  margin: 0 1em;
}

#inbox #messages .message > div:nth-of-type(1) pre, #inbox #messages .message > div:nth-of-type(1) code {
  border-radius: 10px;
}

#inbox #messages .message > div:nth-of-type(2) {
  margin-left: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#inbox #messages .message button {
  margin-top: 10px;
  background-color: #e63946;
  color: #f8f9fa;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

#inbox #input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--bg-3);
  padding: 1em 0;
  border-radius: 20px;
  margin: 20px;
}

#inbox #input > div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inbox #input #message-output {
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #f8f9fa;
}

#inbox #input #message-output table {
  border-collapse: collapse;
  margin: 5px;
}

#inbox #input #message-output table td, #inbox #input #message-output table th, #inbox #input #message-output table tr, #inbox #input #message-output table {
  padding: 5px;
  border: solid thin #212529;
}

#inbox #input #message-input {
  resize: none;
  width: 100%;
  min-height: 60px;
  font-size: 1.2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: visible;
  padding: 10px;
  border: solid 2px #495057;
  background-color: #f8f9fa;
  border-radius: 10px;
}

#inbox #input #message-send {
  background-color: #5762D5;
  color: #f8f9fa;
  border: none;
  padding: 10px 15px;
  font-size: 1.4em;
  cursor: pointer;
  border-radius: 25px;
}

@media (max-width: 799px) {
  #inbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #inbox #discussions-container {
    max-width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #inbox #discussions-container #discussions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #inbox #discussion-container {
    width: 100%;
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #inbox #members-container {
    max-width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #inbox #members-container #members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #inbox #messages {
    width: 90%;
  }
  #inbox #messages .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #inbox #messages .message .date {
    font-size: .8em;
  }
  #inbox #messages .message > img {
    border-radius: 100px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #inbox #messages .message > div:nth-of-type(1) {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #inbox #messages .message > div:nth-of-type(1) > p {
    margin: 0 0 1em;
  }
  #inbox #messages .message > div:nth-of-type(1) > div {
    margin: 0;
  }
  #inbox #messages .message > div:nth-of-type(1) pre, #inbox #messages .message > div:nth-of-type(1) code {
    border-radius: 10px;
  }
  #inbox #messages .message > div:nth-of-type(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #inbox #messages .message button {
    margin: 0 0 0 1em;
  }
  #inbox #input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px 0;
  }
  #inbox #input #message-output {
    width: 90%;
  }
  #inbox #input #message-input {
    width: 90%;
    padding: 5px;
  }
  #inbox #input #message-send {
    padding: 5px 10px;
    margin: 5px 10px;
  }
}

#streaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

#streaming .season-container, #streaming .show-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#streaming .back {
  padding: 5px 10px;
  margin: 1em 0em 0em;
  color: #f8f9fa;
  border: none;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: var(--bg-1);
  text-decoration: none;
  cursor: pointer;
}

#streaming .back:hover {
  text-decoration: underline;
}

#streaming .video-player {
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 1em;
  border-radius: 10px;
  background-color: var(--bg-3);
}

#streaming .video-player video {
  border-radius: 5px;
  width: 100%;
}

#streaming .show, #streaming .seasons {
  width: 300px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  margin: 2em;
}

#streaming .show .watch, #streaming .seasons .watch {
  width: 100%;
  font-size: 2em;
  font-weight: lighter;
  padding: 5px 0;
  text-align: center;
  color: #f8f9fa;
  background-color: #e63946;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

#streaming .show:hover .watch, #streaming .seasons:hover .watch {
  background-color: #c71322;
}

#streaming .video-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--bg-1);
  color: #f8f9fa;
  font-size: 1.5em;
  cursor: pointer;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--bg-2);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-2);
}

::-webkit-scrollbar-thumb {
  background: #212529;
}
/*# sourceMappingURL=style.css.map */