#index-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 0;

    .svg-b-t { 
        fill: $bg-3; 
        animation: svg_slide_top 10s ease infinite alternate;
    }
    .svg-b-b { 
        fill: $bg-3; 
        animation: svg_slide_bottom 10s ease infinite alternate;
    }

    #anim {
        .svg-b { fill: $anim; }
        .svg-b-m { fill: $bg-3; }
    }
    .svg-t { fill: $anim-t; }

    & > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-3;


        & > div {
            width: 40%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            background-color: $bg-3;
            p {
                width: 80%;
                font-size: 1.6em;
                line-height: 2em;
                color: $text;
            }
        }
        #anim {
            width: 20%;
        }
        h2 {
            background-color: $electric;
            padding: 10px 20px;
            border-radius: 25px;
            color: $white;
        }
    }
}
@include phone {
    #index-description {
        & > div {
            flex-direction: column;
            & > div {
                width: 80%;
                p {
                    width: 100%;
                    font-size: 1.4em;
                }
            }
            #anim {
                margin: 1em 0 2em;
                width: 60%;
            }
        }
    }
}