#index-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .svg-b-b { 
        fill: $bg-1; 
        animation: svg_slide_bottom 10s ease infinite alternate;
    }
    div {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4em 0;
    }
    p {
        width: 50%;
        font-size: 3.4rem; 
        color: $text;
    }
    #anim_1 { width: 45%; }
    span { font-weight: bold; }
}
@include phone {
    #index-main {
        div { flex-direction: column; }
        p {
            width: 100%;
            font-size: 2.4rem;
        }
        #anim_1 { width: 95%; }
    }
}