

@keyframes svg_slide_bottom {
    from {
        d:path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
    }
    50% {
        d:path("M0 0H1920V114.072C1638 -18.928 1259.5 251.073 960 114.073C660.5 -22.9271 294 268.072 0 114.072V0Z");
    }
    to {
        d:path("M0 0H1920V114.072C1626 268.072 1259.5 -22.9271 960 114.073C660.5 251.073 282 -18.928 0 114.072V0Z");
    }
}

@keyframes svg_slide_top {
    from {
        d:path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");
    }
    50% {
        d:path("M0.00012207 46.3223V168.741H1920V46.3223C1626 -107.678 1259.5 183.322 960 46.3223C660.5 -90.6777 282 179.322 0.00012207 46.3223Z");

    }
    to {
        d:path("M0.00012207 46.3223V168.741H1920V46.3223C1620.5 183.322 1254 -107.678 960 46.3223C678 179.322 299.5 -90.6777 0.00012207 46.3223Z");

    }
}