#darkmode {
    width: 68px;
    height: 38px;
    border-radius: 25px;
    border: none;
    background-color: $white;


    display: flex;
    align-items: center;
    padding: 2px 4px;
    cursor: pointer;
    
    span {
        height: 30px;
        background-image: url("../svg/darkmode-icon-light.svg");
        background-position: center;
        background-size: 28px 28px;
        background-repeat: no-repeat;
        width: 30px;
        border-radius: 25px;
        margin-left: 0;
        transition: margin .5s ease, background-color .5s ease;
    }
}
#darkmode-input {
    display: none;
}
#darkmode-input:checked+#darkmode {
    span {
        margin-left: 30px;
        background-image: url("../svg/darkmode-icon-dark.svg");
    }
}
#darkmode-container {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}