#index-footer, #portfolio-footer {
    width: 100%;
    margin: 4em 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .svg-b { 
        fill: $bg-3;
        animation: svg_slide_top 10s ease infinite alternate;
    }

    div {
        display: flex;
        justify-content: center;
        background-color: $bg-3;
    }
    p {
        font-size: 1.2em;
        color: $text;
        margin: 0.5em;
        a {
            color: inherit;
        }
    }
}

@include phone {
    #portfolio-footer, #index-footer {
        p {
            font-size: 1em;
        }
    }
}