body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .svg-b { fill: $bg-1; }
}
body > header > div {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background-color: $bg-1;
    h1 {
        margin: 0;
        font-size: 2.4em;
        color: $white;
    }
}

@include phone {
    body > header > div{
        flex-direction: column;
        align-items: center;
    }
}