body > header {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    justify-content: space-between;
    background-color: $bg-1;
    h1 {
        margin: 0;
        font-size: 2.4em;
        color: $white;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@include phone {
    body > header {
        flex-direction: column;
    }
}