#temp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        width: 65%;
        margin: 0 0 3em;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            width: 70%;
            font-size: 1.4em;
            color: $text;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1em 0;
            list-style: none;
            a {
                display: flex;
                justify-content: center;
            }
            img {
                margin-left: 4em;
                width: 150px;
                border-radius: 20px;

            }
            &:nth-child(1) {
                img {
                    background-color: $marine;
                    border-radius: 100px;
                }
            }
            &:nth-child(2) {
                img {
                    padding: 2%;
                    background-color: $light;
                }
            }
        }
    }
}
@include phone {
    #temp {
        ul {
            width: 80%;
            li {
                width: 100%;
                flex-direction: column-reverse;
                margin: 1em 0;
                text-align: center;

                img {
                    margin-left: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

main {
    .svg-b { fill: $bg-1; }
}