nav {
    display: flex;
    a {
        margin: 10px 20px;
        padding: 5px 15px;
        text-decoration: none;
        font-size: 1.5em;
        color: $white;
        border-radius: 25px;

        background-color: $white;
        color: $bg-1;
        font-weight: bold;
        &:hover {
            background-color: $light;
        }
    }
    .logout {
        color: $red;
    }
    .clicked {
        background-color: $grey-light;
    }
}

@include phone {
    nav {
        margin: 1em 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a {
            font-size: 1.2em;
            margin: 5px 10px;
        }
    }
}

